extends ./template/layout.pug
block body
  section.py-5
    .container
      h1.fz-32.t-ctr.lh-xxl-none 使用條款
        br
        span.fz-16 Terms of use
      .flexbox.J-ctr.gy-3
        .sp-s-10.sp-xl-8
          h2.fz-24.fw-4 政策與條款
          p 此條款適用於「R&D Lab」（以下簡稱本網站）的使用者，目的為保護本網站，以及所有本網站的使用者（以下簡稱使用者）的利益。使用者皆應詳細閱讀下列約定條款，使用本網站即表示您同意遵守以下條款和條件。若不同意這些條款，請停止使用本網站。
        .sp-s-10.sp-xl-8
          h2.fz-24.fw-4 個人資料安全
          ol.list-pl-0
            li 使用者對於其個人資料及會員密碼等，應妥善保管以避免外洩。所有使用其帳號和密碼進入本系統後之行為，均視為該帳號及密碼持有人之行為。
            li 於下列情況下，本網站有權查看或提供使用者的個人資料給有權機關、或主張其權利受侵害並提出適當證明之第三人：
              ol.list-num-parenthese
                li 依法令規定、或依司法機關或其他有權機關的命令；
                li 為執行本約定條款、或使用者違反約定條款；
                li 為維護本網站系統之正常運作及安全；
                li 為保護本網站其他使用者、或其他第三人的合法權益；
        .sp-s-10.sp-xl-8
          h2.fz-24.fw-4 網站安全
          ol.list-pl-0
            li 本網站不擔保使用者所傳送的資料將被正常顯示、亦不擔保資料傳輸的正確性；若使用者發現本網站系統有錯誤或疏失，請立即通知本網站管理者。
            li 本網站會定期備份資料，但是除非本網站有故意或重大過失，使用者應同意本網站不用對失誤刪除的資料或備份儲存失敗的資料負責。
            li 您同意，未經本網站明示書面或電子郵件準許，您不會為了任何目的使用任何機器人、間諜軟體、工具程式或其他自動方式進入網站。
              br
              |此外，您同意絕不進行以下操作：
              ol.list-num-parenthese
                li 進行任何對本網站造成或可能造成（按本網站自行酌情確定）不合理或不合比例的重大負荷的行為；
                li 未經本網站事先明示書面或電子郵件準許，對本網站的任何內容（除您的個人信息以外）進行複製、修改、製作衍生商品、分發或公開展示、販售等的侵權行為；
                li 干擾或試圖干擾本網站的正常工作或活動；
                li 在本網站中使用可能視為被禁止或可能被禁止的任何內容；
                li 對本網站使用不良數據。包含可能破壞、改變、刪除、不利影響、秘密截取、未經授權而接觸，或征用任何系統、數據、個人資料的病毒、特洛依木馬、蠕蟲、間諜軟件、其他電腦程序等。
        .sp-s-10.sp-xl-8
          h2.fz-24.fw-4 智慧財產權
          p 本網站所提供的網路服務及商品的相關著作權、專利權、商標、商業隱私及其它任何所有權和權利，均屬本網站或該相關作者所有。非經本網站同意，任何個人或單位均不得擅自下載、複製、傳輸、修改、編輯制作等操作，否則將承擔所有法律責任。本網站對本網站伺服器中的任何數據信息擁有絕對所有權。
        .sp-s-10.sp-xl-8
          h2.fz-24.fw-4 服務終止
          ol.list-pl-0
            li 本網站可隨時根據實際情況中斷一項或多項服務。本網站不需對任何個人或第三方負責而可隨時中斷服務。使用者若反對任何服務條款的建議或對後來的條款修改有異議，或對本網站服務不滿，會員可以行使如下權利：
              ol.list-num-parenthese
                li 通知本網站停止對該會員的服務；
                li 結束會員服務後，會員使用本網站服務的權利馬上終止。從該刻起，使用者沒有權利，本網站也沒有義務傳送任何未處理的信息或未完成的服務給使用者或第三方。
            li 有以下行為的會員將被取消會員資格
              ol.list-num-parenthese
                li 違反註冊條款
                li 提供不實的個人資料
                li 有損本網站或其他使用者權益的行為
                li 違反中華民國的法律、法規、違反網際網路相關規定的行為
                li 將會員帳號用於出售、拍賣等，拿會員帳號當作商品進行交易的行為
                li 出借、轉讓會員帳號給其他會員等不恰當行使會員權利的行為
                li 通過盜取密碼、詐騙等不正當手段獲得會員帳號的行為
                li 在網站留言中多次或大量使用謾罵，侮辱，誹謗等不雅言語的行為
        .sp-s-10.sp-xl-8
          h2.fz-24.fw-4 約定條款之修改
          p 本網站保留隨時修改本使用條款之權利，修改後的條款將公佈在本網站上，不另個別通知使用者。使用者應同意遵守修改後之約定條款。
        .sp-s-10.sp-xl-8
          h2.fz-24.fw-4 準據法及管轄權
          p 使用者應同意本條款受中華民國法律管轄，並同意對於因使用本網站而產生的任何爭議，服從中華民國法院的管轄。