extends ./template/layout.pug
block local
  - headerSubTitle = '使用者研究數位工具'
  - pageType = 'ude'
  // bodyAttr = {style: 'background-image:linear-gradient(90deg, #c4c6f2, #d8d9ff)' }
  - bodyAttr = {style: 'background-image:linear-gradient(90deg, #c4c6f2, #d8d9ff)' }
block body
  .container.py-5.min-vh-full.bg-contain.bg-right(style!=`background-image:url(${require('./img/ude-500.png')})`)
    h1.display-1.mb-5(style='border:none;text-align:left') Internal
      br
      |Sever Error
    p.mb-3 系統維修，請回到首頁。
    .flexbox
      .sp-l-3
        a.btn.btn-purple.btn-block(href='./udeIndex.html') 回首頁
