block footer
footer.bg-black.t-white.ls-xxl-wide.fz-14
  address.container.pt-6.pb-4
    .flexbox.J-between.gy-3.gx-m-0
      .sp-auto.sp-m-6
        a(href='./index.html' title='首頁')
          svg.img-fluid(fill='#fff' width='110' height='60')
            use(xlink:href='./img/sprite.svg#logo')
        h5.fz-16.mt-4 TDRI Design R&D Lab
        ul.list-inline.list-divider
          li.list-inline-item
            a.t-white(href='#' title='產品數據工具' target='_blank' rel='noreferrer noopener nofollow') 產品數據工具
          li.list-inline-item
            a.t-white(href='#' title='使用者數據工具' target='_blank' rel='noreferrer noopener nofollow') 使用者數據工具
          li.list-inline-item
            a.t-white(href='#' title='設計思考與創新工具' target='_blank' rel='noreferrer noopener nofollow') 設計思考與創新工具
          li.list-inline-item
            a.t-white(href='#' title='使用者指南' target='_blank' rel='noreferrer noopener nofollow') 使用者指南

      .sp-l-3
        a(href='#' title='首頁')
          img(src=require('./img/nobase64/tdri-logo.png') width='208' height='67' alt='台灣設計研究院' title='台灣設計研究院' loading='lazy')
        h5.fz-16.mt-4 台灣設計研究院
        a.t-white(href='#' title='TDRI首頁' target='_blank' rel='noreferrer noopener nofollow') TDRI首頁

      .sp-l-2.spl-l-1.t-right
        a.btn.btn-white.btn-block(href='mailto:tdridrt@tdri.org.tw' title='聯絡我們') 聯絡我們

      //- .sp-8.spx-2.sp-m-4.sp-l-3.spx-m-0.sp-xl-3.spr-xl-1.sp-xxl-2.spl-xxl-1
        a.btn.btn-white.btn-block(href='mailto:tdridrt@tdri.org.tw' title='聯絡我們') 聯絡我們
      .sp-l-4
        a.t-white(href='mailto:rdlab_contact@tdri.org.tw' title='email') rdlab_contact@tdri.org.tw
        br
        a.t-white(href='https://maps.app.goo.gl/bwqhLqMqCTRB5DTo7' title='Google Maps' target='_blank' rel='noreferrer noopener nofollow') 110台灣台北市信義區光復南路133號北向2樓
      .sp-l-5.sp-xl-4.sp-xxl-3
        //- h5.fz-16 友站連結
        //- ul.list-inline.list-divider
        //-   li.list-inline-item
        //-     a.t-white(href='#' title='點子松官方網站' target='_blank' rel='noreferrer noopener nofollow') 點子松官方網站
        //-   li.list-inline-item
        //-     a.t-white(href='#' title='新一代設計展' target='_blank' rel='noreferrer noopener nofollow') 新一代設計展
        //-   li.list-inline-item
        //-     a.t-white(href='#' title='金點設計獎 ' target='_blank' rel='noreferrer noopener nofollow') 金點設計獎
      .sp-l-3.sp-xl-4.t-l-right
        ul.list-inline.list-divider
          li.list-inline-item
            a.t-white(href='./privacyPolicy.html' title='隱私權政策' target='_blank' rel='noreferrer noopener nofollow') 隱私權政策
          li.list-inline-item
            a.t-white(href='./termsOfUse.html' title='使用條款' target='_blank' rel='noreferrer noopener nofollow') 使用條款
        h6 &copy; Taiwan Design Research Institute. All rights reserved.
  //- address.container
  //-   ul.list-inline.list-divider.gy-3
  //-     li.list-inline-item
  //-       strong 地址
  //-       a(href='' title='google maps' target='_blank' rel='noreferrer noopener nofollow')
  //-       //- https://www.google.com.tw/maps/place/地址
  //-     li.list-inline-item
  //-       strong 電話
  //-       a(href='tel:' title='')=headerH1

nav.fxd-right
  ul.nav.col
    li.nav-item
      a.nav-link.circle(href='#top')
        span.fi-top-end
